#app {
    width: 100%;

    height: 800px;
    background-color: aqua;


}

.line {
    height: 6px;
    background-color: azure;

    width: 70px;
    margin: 8px auto;


}

body {
    text-align: center;


}
